@import '../styles/main.scss';

div.landing-page-container {
    div.heading {
        background: url('../../assets/images/LandingPage.png') no-repeat center / cover;
        height: 500px;
        position: relative;

        .heading-desc {
            display: flex;
            flex-direction: column;
            color: white;
            font-weight: 500;
            justify-content: center;
            align-items: center;
            padding: 20px;
            font-size: 39px;

            @media screen and (max-width: 540px) {
                font-size: 28px;
            }

            @media screen and (max-width: 540px) {
                font-size: 22px;
            }
        }

        .heading-blur{
            backdrop-filter: blur(6px);

            &.empty-div-transform {
                transform:translate(-50%, 50%);
                top: 50%;
                left: 50%;
            }
        }
    }

    div.cars-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 35px;
        column-gap: 35px;

        @media screen and (max-width:780px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width:550px) {
            grid-template-columns: 1fr;
        }
        div.car-card {
            border-right: 5px solid $custom-orange-border;
            border-bottom: 5px solid $custom-orange-border;
            background-color: rgb(249, 249, 249);
            border-radius: 5px;

            div.car-title {
                font-size: 25px;
                font-weight: 500;
                color: $custom-font-color-black;
            }

            div.car-info-container {
                div.img-conainer {
                    width: 200px;
                }
            }
        }
    }

    .more-btn {
        border: 5px solid $custom-orange-border;
        max-width: 200px;
        font-size: 30px;
        color: $custom-font-color-black;
        margin: 20px auto;
        border-radius: 5px;
        cursor: pointer;
    }

    div.meet-container {
        max-width: 1000px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        margin: 20px auto;

        div.meet-title {
            font-size: 35px;
            font-weight: 600;
            color: $custome-font-color-orange;
        }

        div.meet-desc {
            font-size: 18px;
            color: $custom-font-color-black;
        }

        div.meet-options {
            font-size: 23px;
            font-weight: 500;
        }
    }

    div.list-of-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 30px auto;

        .check-icon {
            font-size: 20px;
        }

        .option {
            font-size: 20px;
        }

        @media screen and (max-width:500px) {
            grid-template-columns: 1fr;
        }
    }
}