footer.footer-container {
    height: 200px;

    /* @media screen and (max-width: 540px) {
        height: 290px!important;
    } */

    @media screen and (max-width:600px) {
        div.footer-items-container {
            div.footer-item {
                &:nth-child(1) {
                    margin-bottom: 10px;
                }
                &:nth-child(2) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}