footer.footer-container {
    overflow: hidden;
    height: 250px;

    @media screen and (max-width:650px) {
        height: 300px;
    }
    
    .accordion {
        .accordion-item {
            background-color: transparent;
            border: 0;

            .accordion-header {
                .accordion-button {
                    background-color: transparent;
                    color: white;

                    &:not(.collapsed) {
                        color: #fff;
                        background-color: transparent;
                        box-shadow: none;

                        &:after {
                            background-image: url('../icons/arrow-up.png');
                        }
                    }

                    &::after {
                        margin-left: 10px;
                        background-image: url('../icons/arrow-up.png');
                    }
                }
            }
        }
    }
}