
div.navbar-container {
    position: fixed;
    width: 100%;
        z-index: 1;

    button.navbar-toggler {
        border-color: transparent!important;
    }

    nav.customBackground {
        background-color: #343a40;
    }
}