@import '../styles/main.scss';

div.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 1;

    .icon-container {
        @media screen and (max-width:550px) {
            .nav-icon {
                width: 30px;
            }
            .nav-title {
                font-size: 17px;
            }
        }
    }

    button.navbar-toggler {
        border-color: transparent!important;

        &:focus {
            box-shadow: none;
        }

        &:not(.collapsed) {
            &.white-icon {
                .navbar-toggler-icon {
                    background-image: url('../icons/close-button-white.png');
                    background-size: 30px;
                }
            }

            .navbar-toggler-icon {
                background-image: url('../icons/close-btn.png');
                background-size: 20px;
            }

            &.nav-black {
                .navbar-toggler-icon {
                    background-image: url('../icons/close-button-white.png');
                    background-size: 30px;
                }
            }
        }

        &.collapsed {
            &.white-icon {
                .navbar-toggler-icon {
                    background-image: url('../icons/white-hamburger-icon.png');
                    background-size: 38px;
                }
            }

            .navbar-toggler-icon {
                background-image: url('../icons/Hamburger-icon-black.png');
            }

            &.nav-black {
                .navbar-toggler-icon {
                    background-image: url('../icons/white-hamburger-icon.png');
                    background-size: 38px;
                }
            }
        }
    }

    nav.customBackground {
        background-color: #343a40;
    }

    .nav-link {
        font-weight: 600;

        @media screen and (max-width: 550px) {
            font-size: 14px;
        }

        &.custom-link {
            color: $custom-font-color-black;
        }

        &.link {
            color: #fff;
        }
    }
}